@model IEnumerable<Sarms.Domain.Core.Administrator>

@{
    ViewBag.Title = "Administrator";
}

<h2>Administrator</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
        <th>
            FName
        </th>
        <th>
            MName
        </th>
        <th>
            SName
        </th>
        <th>
            AccessLevel
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountID })
        </td>
    </tr>
}

</table>
